@import '../init';

$fonts_dir: '../../fonts';

@mixin _font-face(
  $font-family,
  $file-path,
  $file-formats: (woff2, woff),
  $asset-pipeline: false,
  $local: $font-family
) {
  @font-face {
    font-family: $font-family;
    src: local('#{$local}'), _font-source-declaration($font-family, $file-path, $asset-pipeline, $file-formats);
    font-display: swap;
    @content;
  }
}

//@include _font-face(some_font_name, '#{$fonts_dir}/some/font_name_file') {
//  font-weight: 700;
//  font-style: normal;
//}
